<% for (let i = 0; i < locals.data.length; i++) { %>

<tr id="<%= locals.data[i].name.replace(/ /g, '') %>"
  class="<%= locals.data[i].type.toLowerCase() %>"
  data-raw-tier="<%= locals.data[i].tier %>"
  data-raw-passive-abilities="<%= locals.data[i].rawPassiveAbilities %>"
  data-raw-weapon-type="<%= locals.data[i].weaponType %>"
  data-raw-zone="<%= locals.data[i].zone %>">

  <td><img src="<%= locals.data[i].avatar %>" alt=""></td>
  <td><%= locals.data[i].type %></td>
  <td><%= locals.data[i].name %></td>

  <!-- Weapon type field -->
  <% if (locals.title === 'mainhands') { %>
  <td><span><%= locals.data[i].weaponType %></span></td>
  <% } %>

  <!-- Passive field -->
  <td>
  <% if (locals.data[i].passiveAbility) { %>
    <% for (let j = 0; j < locals.data[i].passiveAbility.length; j++) { %>
      <!-- Some passives are unique so we don't want to filter with them -->
      <% if (locals.data[i].passiveAbility[j].unique != undefined) { %>
        <%= locals.data[i].passiveAbility[j].unique %>
      <% } %>
      <span><%= locals.data[i].passiveAbility[j].chance %> <%= locals.data[i].passiveAbility[j].ability %><br><span>
    <% } %>
  <% } %>
  </td>

  <!-- Skill fields -->
  <% if (locals.title === 'mainhands') { %>
    <% for (let j = 0; j < 5; j++) { %>
      <td>
      <% if (locals.data[i].skills) { %>
          <% if (locals.data[i].skills[j]) { %>
            <%= locals.data[i].skills[j].skillPoint %>SP :%> <%= locals.data[i].skills[j].name %><br><span><%= locals.data[i].skills[j].action %></span><br><%= locals.data[i].skills[j].pourcentage %>
          <% } %>
      <% } %>
      </td>
    <% } %>
  <% } %>

  <td><span><%= locals.data[i].zone %></span></td>
</tr>
<% } %>
